@charset "utf-8";
@import "includes.scss";

@media only screen and (max-device-width: $width-large) {
  body {
    font-size: 0.8em;
  }

  h1, .field {
    height: 40px;
  }
}

@media only screen and (max-width: $width-medium) {
  form {
		width: colWidth(6, 12) !important;
	}

  form:nth-child(3) {
    margin-left: 0;
  }
}

@media only screen and (max-device-width: $width-medium) and (orientation: portrait) {
  header {
    padding: 0;
  }

  h1 {
    height: 24px;
  }

  h1, .field {
    display: block;
    width: 94%;
    margin: 0;
  }
}

@media only screen and (max-device-width: $width-small) {
  body {
    font-size: 0.65em;
  }

  form {
		width: 100% !important;
    margin: 0 !important;
	}
}

@media only screen and (max-height: 680px) {
  #console {
    position: static;
    margin-top: 5em;
  }
}
